.container {
  height: 100vh;
  padding: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}

.col {
  display: inline-block;
  padding: 0 10px;
  height: 100vh;
  overflow-y: scroll;
}
